#main-writing {
  position: relative;
  width: 100%;
  height: 100%;
}

ai-chinese-writing {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

chinese-writing {
  display: block;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text-content {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}